
@{
    Layout = null;
}

<div class="header__navbar pull-left">
    <ul class="list-unstyled">
        <li>
            <a href="~/home/index" class="first_item">
                <i class="fas fa-trophy"></i>
                <span class="bot-line"></span>Rank Results
            </a>
        </li>
        @*<li>
            <a href="#">
                <i class="fas fa-id-card"></i>
                <span class="bot-line"></span>Score cards
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-bar-chart"></i>
                <span class="bot-line"></span>By Category Ranking
            </a>
        </li>*@
        <li>
            <a href="~/judging/scoring/index">
                <i class="fas fa-archive"></i>
                <span class="bot-line"></span>My Scores
            </a>
        </li>
        <li class="has-sub">
            <a href="#">
                <i class="fas fa-list"></i>Manage
                <span class="bot-line"></span>
            </a>
            <ul class="header3-sub-list list-unstyled">
                <li>
                    <a href="~/manage/users">Users</a>
                </li>
                <li>
                    <a href="~/manage/events">Events</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
