@{
    Layout = "~/views/shared/_publicForm.cshtml";
}

<div style="margin-top:20px;margin-bottom:20px;text-align:center;">
    <h1>Ooops...</h1>
    <span>You no longer have access to this event.</span>
    <a href="~/judging/scoring/enter-event-key">go to another event</a>
</div>
