@model CSM.TabulationSystem.Web.ViewModels.Account.ChangePasswordViewModel
@{
    Layout = "~/views/shared/_publicForm.cshtml";
}

<form action="~/account/change-password" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="form-group">
        <label>Old Password</label>
        <input class="au-input au-input--full" type="password" name="oldpassword" placeholder="Old Password">
    </div>
    <div class="form-group">
        <label>New Password</label>
        <input class="au-input au-input--full" type="password" name="newpassword" placeholder="New Password">
    </div>
    <div class="form-group">
        <label>Confirm New Password</label>
        <input class="au-input au-input--full" type="password" name="confirmnewpassword" placeholder="Confirm New Password">
    </div>
    <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">retrieve password</button>
</form>