@model CSM.TabulationSystem.Web.ViewModels.Account.ForgotPasswordViewModel
@{
    Layout = "~/views/shared/_publicForm.cshtml";
}

<form action="~/account/forgot-password" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="form-group">
        <label>Email Address</label>
        <input class="au-input au-input--full" type="email" name="emailaddress" placeholder="Email">
    </div>
    <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">retrieve password</button>
</form>